<h4>Keyboard shortcuts</h4>

<table class=help-keyboard-shortcuts>
  <tr>
    <td><span class=shortcut>?</span></td>
    <td>Show this window</td>
  </tr>
  <tr>
    <td><span class=shortcut>ESC</span></td>
    <td>Go back to the index or hide modal window</td>
  </tr>
  <tr>
    <td><span class=shortcut>n</span></td>
    <td>Trigger the 'New' action when available</td>
  </tr>
  <tr>
    <td><span class=shortcut>e</span></td>
    <td>Trigger the 'Edit' action when available</td>
  </tr>
  <tr>
    <td><span class=shortcut>d</span></td>
    <td>Trigger the 'Delete' action when available</td>
  </tr>
  <tr>
    <td><span class="shortcut shortcut-big">&larr;</span><span class="shortcut shortcut-big">&rarr;</span></td>
    <td>Navigate between pages in paginated lists, or between tabs</td>
  </tr>
  <tr>
    <td><span class="shortcut shortcut-large">&uarr;</span><span class="shortcut shortcut-large">&darr;</span></td>
    <td>Navigate up and down in list of elements</td>
  </tr>
</table>
