<h3>Keyboard shortcuts</h3>

<table class=help-keyboard-shortcuts>
  <tr>
    <td><span class=shortcut>?</span></td>
    <td>Show this window</td>
  </tr>
  <tr>
    <td><span class=shortcut>ESC</span></td>
    <td>Go back to the index or hide modal window</td>
  </tr>
  <tr>
    <td><span class=shortcut>n</span></td>
    <td>Trigger the 'New' action when available</td>
  </tr>
</table>
