<h1><%= link_to "Servers", servers_path %></h1>

<div class=show>
  <div class=pull-right>
    <%= link_to 'Edit', edit_server_path(@server), id: 'edit' %>
  </div>
  <h2><%= @server.name %></h2>
</div>
