<h1>Settings</h1>

<%= render 'layouts/navbar_settings' %>

<div class=show>
  <div class=pull-right>
    <%= link_to 'Show', @user %>
  </div>
  <h2><%= @user.email %></h2>
  <%= render 'form' %>
</div>
