<h1>Settings</h1>

<%= render 'layouts/navbar_settings', active: :users %>

<div class=show>
  <div class=pull-right>
    <%= link_to 'Edit', edit_user_path(@user), id: 'edit' %>
  </div>
  <h2><%= @user.email %></h2>
</div>
