<h1>Welcome</h1>
<div class="row welcome-page">
  <div class="col-md-4 text-center">
    <%= App.count %> applications
  </div>
  <div class="col-md-4 text-center">
    <%= Server.count %> servers
  </div>
  <div class="col-md-4 text-center">
    <%= Contact.count %> contacts
  </div>
</div>
