<div class=page-header>
  <h1>Welcome</h1>
</div>
<div class=row>
  <div class="span4 text-center">
    <%= App.count %> applications
  </div>
  <div class="span4 text-center">
    <%= Server.count %> servers
  </div>
  <div class="span4 text-center">
    <%= Contact.count %> contacts
  </div>
</div>
