<h1>Contacts</h1>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Name</th>
      <th colspan=2 class=action-buttons>
        <%= link_to 'New Contact', new_contact_path %>
      </th>
    </tr>
  </thead>

  <tbody>
    <% @contacts.each do |contact| %>
      <tr>
        <td><%= link_to contact.name, contact %></td>
        <td class=action-buttons><%= link_to 'Edit', edit_contact_path(contact) %></td>
        <td class=action-buttons><%= link_to 'Destroy', contact, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
