<h1>Applications</h1>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Name</th>
      <th colspan=2 class=action-buttons>
        <%= link_to 'New Application', new_app_path %>
      </th>
    </tr>
  </thead>

  <tbody>
    <% @apps.each do |app| %>
      <tr>
        <td><%= link_to app.name, app %></td>
        <td class=action-buttons><%= link_to 'Edit', edit_app_path(app) %></td>
        <td class=action-buttons><%= link_to 'Destroy', app, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
