/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

/*
 * Include twitter bootstrap
 *
 * Using @import as recommended in the README
 * because it allows to re-use bootstrap mixins.
*/
$navbarBackground : #222;
$navbarBackgroundHighlight : $navbarBackground;
$navbarLinkColor : #bbb;
$navbarLinkColorHover : #eee;
@import "bootstrap";

/*
 * Include font-awesome iconic webfont
 */
@import "font-awesome";

/* don't hide body under navbar */
body { padding-top: 60px; }

/* general styling */

//brand in navbar
$navbarLinkVerticalOffset : -1px;
$navbarBrandVerticalOffset : 1px;
body > .navbar {
  .nav a {
    padding:(10px - $navbarLinkVerticalOffset) 10px (10px + $navbarLinkVerticalOffset) 15px;
  }
  .brand {
    color: #000;
    font-weight: bold;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.1), 0 0 30px rgba(255, 255, 255, 0.125);
    padding:(10px - $navbarBrandVerticalOffset) 20px (10px + $navbarBrandVerticalOffset) 20px;
    transition: all .2s linear;
    &:hover {
      color: #d4d4d4;
      text-shadow: none;
    }
  }
}
//action buttons in tables
th.action-buttons {
  width: 15%;
  font-weight: normal;
  text-align:right;
}
td.action-buttons { 
  font-weight: 90%;
  a, a:visited, a:hover { color: #888; }
  a:hover { color: #005580; }
}
