/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

/*
 * Include twitter bootstrap
 *
 * Using @import as recommended in the README
 * because it allows to re-use bootstrap mixins.
*/
$navbar-bg: #490a3d;
@import "bootstrap";

// Custom fonts
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: local('Open Sans Light'), local('OpenSans-Light'), url(./OpenSans-Light.woff) format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url(./OpenSans.woff) format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: local('Open Sans Semibold'), local('OpenSans-Semibold'), url(./OpenSans-Semibold.woff) format('woff');
}
body {
  font-family: 'Open Sans', sans-serif;
}
h1, h2, h3, h4 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
}

/*
 * Include font-awesome iconic webfont
 */
@import "font-awesome";

/*
 * Our mixins
 */
@import "mixins";

/* general styling */
h1 {
  margin: 20px 0 10px 0;
  a {
    color: #666;
    display: block;
    &:hover {
      text-decoration: none;
    }
  }
}
h2 {
  font-weight:normal;
  margin:0 0 12px;
}

//flash messages
#flash {
  position:absolute; top: $navbar-height + 5px; left:30%; width:40%; text-align:center; font-weight:bold; z-index:1500;
  .flash-notice, .flash-error { padding:4px 6px; }
  .flash-notice { color: #195; }
  .flash-error, .flash-alert { color: #d21; }
}

//brand in navbar
.main-navbar {
  background-color: $navbar-bg;
  @include gradient-vertical($navbar-bg, darken($navbar-bg, 4%));
  @include box-shadow(0 0 4px darken($navbar-bg, 20%));
  a, a:visited {
    color: #eee;
    text-shadow: none;
    transition: all .2s linear;
  }
  .pull-right {
    margin-right: -15px;
  }
  .navbar-brand {
    font-weight: bold;
  }
  .nav > li > a:hover, .nav > li > a:focus, .navbar-brand:hover {
    background-color: transparent;
    color: #fff;
    text-shadow: 0 0 1em rgba(255, 255, 255, 0.5);
  }
}

//action buttons in tables
th.action-buttons {
  width: 10%;
  font-weight: normal;
  text-align:right;
  white-space: nowrap;
}
td.action-buttons { 
  font-weight: 90%;
  text-align: right;
  a, a:visited, a:hover { color: #888; }
  a:hover { color: #005580; }
}
.nav-settings {
  font-weight: bold;
  a:hover {
    color: inherit;
  }
}
#error_explanation {
  color: #f00;
  h2 {
    font-size: 16px;
    line-height: 20px;
    margin:5px 0;
  }
  ul {
    margin:0 0 30px 20px;
  }
}
// force vertical scrollbar in any case to avoid centering jumps
// http://css-tricks.com/snippets/css/force-vertical-scrollbar/
html {
  overflow-y: scroll;
}
// pagination
.pagination {
  background: #fff;
  cursor: default;
  height: 22px;
  margin: 5px 0 20px;
  float: right;
  a, span, em {
    padding: 0.2em 0.5em;
    display: block;
    float: left;
    margin-right: 1px;
  }
  .disabled {
    display: none;
  }
  .current {
    font-style: normal;
    font-weight: bold;
    background: #08c;
    color: #fff;
  }
  a {
    text-decoration: none;
    color: #08c;
    &:hover, &:focus {
      color: #005580;
      background: #eef;
    }
  }
  .page_info {
    background: #08c;
    color: white;
    padding: 0.4em 0.6em;
    width: 22em;
    margin-bottom: 0.3em;
    text-align: center;
    b {
      color: #000033;
      background: #08c + 60;
      padding: 0.1em 0.25em;
    }
  }
}

// sticky footer
// http://css-tricks.com/snippets/css/sticky-footer/
$footer-height : 30px;
$footer-padding : 10px;
html, body {
  height: 100%;
}
.page-wrap {
  min-height: 100%;
  margin-bottom: -$footer-height -$footer-padding;
  /* don't hide body under navbar */
  @include box-sizing(border-box);
  padding-top: $navbar-height + 10px;
}
.page-wrap:after {
  content: "";
  display: block;
}
.site-footer, .page-wrap:after {
  height: $footer-height + 2 * $footer-padding;
}
// footer styles
.site-footer {
  color: #777;
  text-align: center;
  font-size: 85%;
  .container {
    border-top: 1px solid #ccc;
    padding: $footer-padding 4px;
  }
  a, a:visited {
    color: #777;
  }
  a:hover {
    color: #005580;
  }
  //ensure font-awesome icons display in proper size, 13px doesn't render well
  .fa {
    font-size:14px;
  }
}

// forms
.field {
  margin-bottom: 10px;
  label {
    display: inline-block;
    width: 80px;
  }
  input {
    margin-top: 10px;
  }
}

//show sections
.show {
  padding: 12px 18px;
  margin: 10px 0;
  height: 100%;
  min-height: 400px;
  border-color: #ccc;
  border-style: solid;
  border-width: 1px;
  @include box-shadow(0 0 3px #ddd);
  @include box-sizing(border-box);
}

//help
.help-modal {
  h4 {
    margin: 0;
  }
  .modal-dialog {
    width: 800px;
  }
}
.help-keyboard-shortcuts {
  td {
    padding:4px;
  }
  tr td:first-child {
    text-align: right;
    min-width: 60px;
  }
  .shortcut {
    display: inline-block;
    padding: 1px 5px;
    margin: 0 2px;
    @include border-radius(2px);
    color: #fff;
    background-color: #333;
    font-weight: bold;
  }
}

//tables
.table {
  margin-top: 10px;
}
tr.selected td {
  //this "!important" ensure this style outweights other potential backgrounds especially on ":hover"
  background-color: #ffa !important;
}
